@import '../variables.scss';
@import '../mixins/button.scss';
@import url('https://fonts.googleapis.com/css?family=Abril+Fatface');

.quiz-title {
  font-family: 'Abril Fatface', serif;
  padding-bottom: 20px;
  text-align: center;
}

.question {
  background: $colorado-blue;
  margin: 20px 0;
  padding: 20px 0;
}

.question-title {
  color: $white;
  margin-bottom: 20px;
  text-align: center;
}

.answers {
  background-image: url('../../../public/images/colorado.png');
  background-size: cover;
  border: 5px solid $colorado-red;
  height: 260px;
  margin: auto;
  width: 50%;
}

.score {
  text-align: right;
  span {
    background: $colorado-yellow;
    padding: 0 10px;
  }
}

.answer-list {
  padding: 0;
  li {
    color: $black;
    padding: 10px 0 0 0;
  }
}

.retry-quiz-button {
  @include button-format;
  margin-top: 0px;
}

@media screen and (max-width: 770px) {
  .question {
    margin: 10px auto;
    width: 95%;
  }

  .score {
    text-align: center;
  }

  .retry-quiz-button {
    margin-top: 20px;
  }
}

@media screen and (max-width: 420px) {
  .quiz-title {
    font-size: 40px;
  }

  .question-title {
    padding: 0 10px;
  }

  .answers {
    width: 80%;
  }
}
